@import 'tailwindcss';
@plugin "daisyui";

/* LIGHT */
@plugin "daisyui/theme" {
  name: 'light';
  default: true;

  --color-primary: #6d28d9;
  --color-secondary: #9333ea;

  --color-base-100: #ffffff;
  --color-base-200: #f5f3ff;
  --color-base-300: #ede9fe;
}

/* DARK */
@plugin "daisyui/theme" {
  name: 'dark';

  --color-primary: #8b5cf6;
  --color-secondary: #c084fc;

  --color-base-100: #111827;
  --color-base-200: #1f2937;
  --color-base-300: #374151;
}

.btn-gradient {
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  color: white;
  border: none;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #6b3df5, #9d5eff);
  border: none;
}
