@import 'tailwindcss';
@plugin "daisyui";

/* LIGHT */
@plugin "daisyui/theme" {
  name: 'light';
  default: true;

  --color-primary: #6a35e5;
  --color-secondary: #9c5ff1;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;

  --color-base-content: #111827;
}

/* DARK */
@plugin "daisyui/theme" {
  name: 'dark';
  prefersdark: true;

  --color-primary: #6a35e5;
  --color-secondary: #9c5ff1;

  --color-base-100: #111827;
  --color-base-200: #1f2937;
  --color-base-300: #374151;

  --color-base-content: #f9fafb;
}

.btn-gradient {
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  color: #ffffff;
  border: none;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #5a2bc5, #8a4fd8);
  border: none;
}
